.header-2 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}
body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.container-auth {
    margin: 120px auto 0 auto;
}

.card {
    img {
        object-fit: cover;
        height: 100%;
    }
}
