// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gold: #ffe400;
$asphalt: #282b2a;
$dark-grey: #212529;
$blue-grey-900: #263238;
$blue-grey-800: #37474f;
$blue-grey-100: #eceff1;
$blue-grey-200: #cfd8dc;
$light-blue-900: #01579b;

$main-gradient-start: rgba(69,232,255,1);
$main-gradient-end: rgba(0,212,255,1);
