header .header {
    height: 40px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
    .logo {
        margin-left: 20px;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }
    .nav {
        &_item {
            padding: 8px 15px;
            font-size: 16px;
            text-decoration: none;
            &:hover {
                border-bottom: 2px solid #00b8d4;
            }
        }
        &_item.active {
            font-weight: bold;
            border-bottom: 2px solid #00b8d4;
        }
    }
    .auth_panel {
        margin-right: 20px;
        &_item {
            margin-left: 15px;
        }
    }
}
@media (max-width: 576px) {
    header .header {
        .auth_panel {
            text-align: right;
        }
    }
}
